<section id="wrapped" class="skewed">
  <div class="bottom layer">
    <div class="content-wrapped">
      <div class="content-body">
        <h1>Martez</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit placeat, in fugiat saepe autem minus!</p>
      </div>

      <img src="img/martez_edit.jpg" alt="">
    </div>
  </div>

  <div class="top layer">
    <div class="content-wrapped">
      <div class="content-body">
        <h1 class="unique-text">Martez</h1>
        <p class="unique-text">Web Developer</p>
      </div>

      <img src="img/martez.jpg" alt="">
    </div>
  </div>

  <div class="handle"></div>

  <div id="side-btn" href="#" onclick="openSideMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

<section id="projects">
  <a href="https://placeholder.com"><img class="animated bounceInLeft" src="http://via.placeholder.com/650x1000"></a>
  <a href="#" class="project-link">View Project <i class="ion-arrow-right-c"></i></a>
  <div class="container">
    <i id="nextarrow" class="ion-arrow-right-c"></i>
    <h1 class="big-title animated bounceInUp">Hello World</h1>
    <p class="description animated bounceInRight">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit beatae voluptas commodi quam, dignissimos eos sequi, reiciendis saepe perferendis quas!</p>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="wrap">
      <div class="info">
        <h1 class="hiring">Hiring? Send me an email</h1>
      </div>
        <form>
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="wide">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="wide">
            <button type="submit">Submit</button>
          </p>
        </form>
    </div>
  </div>
</section>
