<section id="wrapped" class="skewed">
  <div class="bottom layer">
    <div class="content-wrapped">
      <div class="content-body">
        <h1>Martez</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit placeat, in fugiat saepe autem minus!</p>
      </div>

      <img src="img/martez_edit.jpg" alt="">
    </div>
  </div>

  <div class="top layer">
    <div class="content-wrapped">
      <div class="content-body">
        <h1 class="unique-text">Martez</h1>
        <p class="unique-text">Web Developer</p>
      </div>

      <img src="img/martez.jpg" alt="">
    </div>
  </div>

  <div class="handle"></div>

  <div id="side-btn" href="#" onclick="openSideMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>

<section id="projects">
  <img src="#" alt="" class="screenshot">
  <a href="#" class="project-link">View Project</a>
  <!--TODO: Add arrow icon next to view project text  -->
  <h1 class="big-title">Hello World</h1>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit beatae voluptas commodi quam, dignissimos eos sequi, reiciendis saepe perferendis quas!</p>
</section>

{{!-- <section id="hire-me">
  <h1>Looking to contact me?</h1>
  <form>
    <input type="email" name="email" placeholder="Enter Email">
    <button type="submit" class="hire-btn">Hire Me</button>
  </form>
</section> --}}
