@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400|Overpass:300,400");
.container {
  width: 100%;
  margin: 0 auto; }

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: inline-block; }

@media only screen and (min-width: 0px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media only screen and (min-width: 1008px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

@media only screen and (min-width: 1300px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-xl-1 {
    width: 8.33333%; }
  .col-xl-2 {
    width: 16.66667%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.33333%; }
  .col-xl-5 {
    width: 41.66667%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.33333%; }
  .col-xl-8 {
    width: 66.66667%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.33333%; }
  .col-xl-11 {
    width: 91.66667%; }
  .col-xl-12 {
    width: 100%; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

ul {
  list-style: none;
  padding: 0; }

#nav {
  min-height: 60px;
  background: #a7a7a7;
  color: #A0CCE3;
  overflow: auto;
  padding: 15px; }
  #nav .logo {
    display: inline-block;
    float: left; }
    #nav .logo a {
      color: #A0CCE3;
      text-decoration: none; }
    #nav .logo h2 {
      font-family: "Alegreya Sans SC", sans-serif;
      font-size: 2.2em;
      text-transform: uppercase; }
  #nav .navbar-items {
    display: inline-block;
    float: right;
    margin-top: 5px; }
    #nav .navbar-items li {
      display: inline-block;
      padding: 0 10px;
      margin-top: 9px; }
      #nav .navbar-items li:first-child {
        padding-left: 0; }
      #nav .navbar-items li a {
        color: #A0CCE3;
        float: left;
        font-size: 1.2em;
        text-decoration: none;
        text-transform: uppercase; }
        #nav .navbar-items li a.active, #nav .navbar-items li a:hover {
          transition: all .4s ease-in;
          color: #F66464; }

.footer {
  padding: .9em 0;
  text-align: center; }
  .footer .media-bar ul li {
    display: inline-block;
    padding: 10px; }
    .footer .media-bar ul li a .ion {
      font-size: 2.6em; }
  .footer .name-link {
    font-size: 1.2em; }
  .footer a {
    text-decoration: none;
    color: #A0CCE3; }
    .footer a:hover {
      transition: all .3s ease-in;
      color: #F66464; }

#drop-menu {
  background: #ffffff;
  height: 190px;
  width: 100%;
  display: none;
  position: absolute;
  top: -190px;
  z-index: 3;
  opacity: 0.9; }
  #drop-menu a {
    position: relative;
    color: #A0CCE3;
    text-align: center;
    display: block;
    padding: 7px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none; }
    #drop-menu a.active, #drop-menu a:hover {
      color: #F66464; }
    #drop-menu a:first-of-type {
      margin-top: 15px; }

#drop-menu.visible {
  top: 0px;
  transition: all 0.5s linear; }

#menu-btn {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 190px;
  right: 0px;
  cursor: pointer;
  margin: 29px 20px 20px;
  z-index: 3;
  transition: all .5s linear; }
  #menu-btn span {
    display: block;
    height: 2px;
    background: #111;
    margin-bottom: 4px; }
    #menu-btn span:first-of-type {
      height: 3px; }
    #menu-btn span:nth-child(2) {
      width: 75%; }
    #menu-btn span:nth-child(3) {
      width: 50%; }

.view-padding {
  padding: 1.5em 0; }

#contact {
  background: #fff;
  padding: 4em 0; }
  #contact .container-wrap {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em; }
  #contact .wrap {
    box-shadow: 0 0 15px 0 rgba(27, 97, 122, 0.7); }
  #contact .wrap > * {
    padding: 1em; }
  #contact .hiring {
    text-align: center;
    font-size: 3em; }
  #contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
    #contact form label {
      display: block; }
    #contact form p {
      margin: 0; }
    #contact form button {
      cursor: pointer;
      color: #ffffff;
      border: 0;
      background: #A0CCE3;
      text-transform: uppercase; }
      #contact form button:hover, #contact form button:focus {
        background: #F66464;
        color: #353535;
        outline: 0;
        transition: background-color 0.3s ease-out; }
    #contact form .wide {
      grid-column: 1 / 3; }
    #contact form input {
      font-size: 1.1em; }
    #contact form button,
    #contact form input,
    #contact form textarea {
      width: 100%;
      padding: 1em; }

body {
  color: #a7a7a7;
  font-family: "Overpass", sans-serif;
  line-height: 1.6;
  background: #ffffff;
  font-size: .875rem; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, p {
  margin-top: 0; }

h1::selection, h2::selection, h3::selection, p::selection, span::selection {
  background: #737373; }

h1 {
  color: #A0CCE3;
  line-height: 1;
  font-size: 3.125rem; }

h2 {
  font-size: 2rem; }

.welcome {
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #a7a7a7; }
  .welcome h1 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #1B2355;
    line-height: 2;
    text-align: center; }
    .welcome h1 span {
      font-size: 6.5rem;
      color: #A0CCE3;
      letter-spacing: 6.5px;
      display: block;
      transition: all .5s ease-in;
      cursor: pointer; }
      .welcome h1 span:hover {
        transition: all .5s ease-in;
        color: #F66464; }
    .welcome h1::before, .welcome h1::after {
      content: '';
      width: 80%;
      height: 1px;
      background: #1B2355;
      display: block; }
    .welcome h1::before {
      margin: 0 auto 1em; }
    .welcome h1::after {
      margin: 1em auto 0; }

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  width: 100%;
  padding: 2em 0;
  background: url("../img/ali_fight.jpg") no-repeat center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .intro .intro-text {
    max-width: 500px;
    position: absolute;
    top: 3%;
    left: 4%;
    text-align: center;
    background: rgba(27, 35, 85, 0.7);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em; }

.about-me {
  padding: 0 0 4em 0;
  position: relative; }
  .about-me .about-title {
    position: absolute;
    top: 1em;
    right: 3em;
    font-family: "Alegreya Sans SC", sans-serif;
    color: #A0CCE3;
    font-size: 3.5rem;
    letter-spacing: 0.1em; }
  .about-me .about-subtitle {
    font-size: 2rem;
    letter-spacing: 0.4em;
    margin: .4em 0;
    color: #F66464; }
  .about-me .about-text {
    text-align: center;
    font-size: 1.2em; }

.quote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  width: 100%;
  padding: 2em 0;
  background: url("../img/mj.jpg") no-repeat center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff; }
  .quote .quote-text {
    position: absolute;
    top: 3%;
    left: 4%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: rgba(27, 35, 85, 0.7);
    font-size: 1.5em; }

.portfolio {
  margin-bottom: 1em;
  padding: 3%;
  height: 100vh; }
  .portfolio h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 2.5em; }
  .portfolio .projects {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
    height: 100%; }
    .portfolio .projects .project-item {
      position: relative;
      color: #353535;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden; }
      .portfolio .projects .project-item.medium {
        grid-row: 1 / span 3;
        grid-column: 1 / span 2; }
      .portfolio .projects .project-item.half {
        grid-row: 1 / span 3;
        grid-column: 3 / span 2; }
      .portfolio .projects .project-item.half-two {
        grid-row: 1 / span 2;
        grid-column: 5 / span 2; }
      .portfolio .projects .project-item.tall {
        grid-row: 3 / span 4;
        grid-column: 5 / span 2; }
      .portfolio .projects .project-item.wide {
        grid-row: 4 / span 3;
        grid-column: 1 / span 4; }
      .portfolio .projects .project-item .overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
        background: rgba(53, 53, 53, 0.7);
        color: #ffffff;
        transition: all .5s ease-in; }
        .portfolio .projects .project-item .overlay:hover {
          transition: all .5s ease-in;
          opacity: 1; }
        .portfolio .projects .project-item .overlay .project-title {
          font-size: 1.7rem;
          position: relative;
          top: 1rem;
          margin-bottom: 0.5em; }
        .portfolio .projects .project-item .overlay .project-title,
        .portfolio .projects .project-item .overlay .project-desc {
          padding-bottom: 8px; }
        .portfolio .projects .project-item .overlay .project-desc {
          font-size: 1.2em;
          text-align: center;
          padding: 0.4rem; }
        .portfolio .projects .project-item .overlay .url-links {
          padding: 0 .5em;
          margin: 2.2em 0;
          position: relative;
          bottom: 0; }
          .portfolio .projects .project-item .overlay .url-links a {
            color: #A0CCE3;
            font-size: 1.8em;
            text-decoration: none; }
          .portfolio .projects .project-item .overlay .url-links .project-github {
            position: absolute;
            right: 0;
            margin-right: 1.5em; }

#cta-btn {
  text-align: center;
  padding: 1.5em 0; }
  #cta-btn .text {
    font-size: 1.2em;
    padding: 1em 0;
    margin: 0 auto;
    text-align: center;
    max-width: 600px; }
  #cta-btn .btn p {
    margin: .8em 0;
    font-size: 1.2em; }
  #cta-btn .btn button {
    cursor: pointer;
    color: #ffffff;
    border: 0;
    background: #A0CCE3;
    text-transform: uppercase;
    font-size: 1.2em;
    width: 100%;
    padding: 1em; }
    #cta-btn .btn button:hover, #cta-btn .btn button:focus {
      background: #F66464;
      color: black;
      outline: 0;
      transition: background-color 0.3s ease-out; }

.view-options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3em; }
  .view-options .view-icons {
    font-size: 1.7em;
    margin: 0 1em; }
    .view-options .view-icons i {
      cursor: pointer;
      margin: 0 .5em; }
    .view-options .view-icons .fa-th-large {
      position: relative;
      top: 2px; }

.content-box {
  margin-top: 20px; }

.project-results {
  margin-bottom: 60px; }
  .project-results .project-card {
    background: #fff;
    -webkit-box-shadow: 0px 9px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 15px -4px rgba(0, 0, 0, 0.75); }
  .project-results .project-img {
    position: relative;
    color: white;
    padding: 15px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 200px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .project-results .project-img:hover .details {
      opacity: 1; }
    .project-results .project-img:hover .address {
      opacity: 0;
      transition: all 0.5s ease-in-out; }
    .project-results .project-img .details {
      transition: all 0.5s ease-in-out;
      opacity: 0;
      padding: 35px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4e02e5+0,9d1ced+100 */
      background: rgba(78, 2, 229, 0.8);
      /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(78, 2, 229, 0.8) 0%, rgba(157, 28, 237, 0.8) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(78, 2, 229, 0.8) 0%, rgba(157, 28, 237, 0.8) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(78, 2, 229, 0.8) 0%, rgba(157, 28, 237, 0.8) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
      .project-results .project-img .details .project-details {
        display: block;
        margin: 0 auto; }
        .project-results .project-img .details .project-details p {
          font-weight: 300;
          font-size: 1rem;
          display: block;
          color: white;
          margin-top: 3px;
          margin-bottom: 5px; }
  .project-results .bottom-info {
    height: 5.5rem;
    text-align: center;
    padding: 1em 0 0 0;
    opacity: 1; }
    .project-results .bottom-info a {
      text-decoration: none; }
    .project-results .bottom-info .technologies {
      font-size: .9em;
      display: block;
      margin-bottom: 10px;
      color: #F66464; }
    .project-results .bottom-info .project-url {
      font-size: 1.3rem;
      display: block;
      color: #737373; }

.success-msg {
  padding: 0 0 4em 0; }
  .success-msg .success-text {
    text-align: center;
    font-size: 1.2em; }

@media (max-width: 900px) {
  #nav .navbar-items {
    display: none; }
  #drop-menu {
    display: block; } }

@media (max-width: 768px) {
  #cta-btn, footer {
    position: relative; }
  .welcome h1 {
    font-size: 2rem; }
    .welcome h1 span {
      font-size: 4.5rem; }
  .intro, .quote {
    padding: .25rem;
    width: 100%; }
    .intro .intro-text, .intro .quote-text, .quote .intro-text, .quote .quote-text {
      max-width: 600px;
      margin: 0 auto;
      position: static;
      text-align: center; }
  .about-me {
    display: block;
    padding: 1em;
    text-align: center; }
    .about-me .about-title {
      position: initial;
      font-size: 2rem; }
    .about-me .about-subtitle {
      margin: 0 0 5px 0;
      letter-spacing: 0.2em;
      font-size: 1.6rem; }
  .portfolio {
    height: 100%;
    margin: 0 0 15px 0;
    padding: 15px 0;
    background: none; }
    .portfolio h2 {
      text-align: center;
      margin-bottom: 10px; }
    .portfolio .projects {
      display: block; }
      .portfolio .projects .project-item {
        width: 100%;
        height: 280px;
        margin-bottom: 12px; }
        .portfolio .projects .project-item .overlay {
          padding: .5em;
          opacity: 1; }
          .portfolio .projects .project-item .overlay .project-title,
          .portfolio .projects .project-item .overlay .project-desc,
          .portfolio .projects .project-item .overlay .project-tech {
            margin: 0 auto; }
          .portfolio .projects .project-item .overlay .project-desc {
            max-width: 400px; } }

@media (max-width: 1300px) {
  .about-me {
    display: block;
    padding: 1em;
    text-align: center; }
    .about-me .about-title {
      position: static;
      font-size: 2.9rem; }
    .about-me .about-subtitle {
      margin: 0 0 5px 0;
      letter-spacing: 0.2em;
      font-size: 1.6rem; } }
