/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 100%;
  margin: 0 auto; }

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: inline-block; }

@media only screen and (min-width: 0px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media only screen and (min-width: 1008px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

@media only screen and (min-width: 1300px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-xl-1 {
    width: 8.33333%; }
  .col-xl-2 {
    width: 16.66667%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.33333%; }
  .col-xl-5 {
    width: 41.66667%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.33333%; }
  .col-xl-8 {
    width: 66.66667%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.33333%; }
  .col-xl-11 {
    width: 91.66667%; }
  .col-xl-12 {
    width: 100%; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 100%;
  margin: 0 auto; }

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
  display: inline-block; }

@media only screen and (min-width: 0px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; } }

@media only screen and (min-width: 768px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; } }

@media only screen and (min-width: 1008px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; } }

@media only screen and (min-width: 1300px) {
  .container {
    width: 95%;
    max-width: 1200px; }
  .col-xl-1 {
    width: 8.33333%; }
  .col-xl-2 {
    width: 16.66667%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.33333%; }
  .col-xl-5 {
    width: 41.66667%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.33333%; }
  .col-xl-8 {
    width: 66.66667%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.33333%; }
  .col-xl-11 {
    width: 91.66667%; }
  .col-xl-12 {
    width: 100%; } }

* {
  box-sizing: border-box; }

body {
  background: #fefefe;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif; }

ul {
  list-style: none;
  padding: 0; }

#nav {
  background: #eee;
  color: red;
  overflow: auto;
  padding: 15px; }
  #nav .logo {
    display: inline-block;
    float: left; }
    #nav .logo h2 {
      font-size: 1.5em;
      text-transform: uppercase; }
  #nav .navbar-items {
    display: inline-block;
    float: right; }
    #nav .navbar-items li {
      display: inline-block;
      padding: 0 10px; }
      #nav .navbar-items li:first-child {
        margin-left: 0; }
      #nav .navbar-items li a {
        float: left;
        font-size: 1.5em;
        text-decoration: none;
        text-transform: uppercase; }

#wrapped {
  position: relative;
  width: 100%;
  min-height: 55vw;
  overflow: hidden; }
  #wrapped .layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    overflow: hidden; }
    #wrapped .layer .content-wrapped {
      position: absolute;
      width: 100vw;
      min-height: 55vw; }
      #wrapped .layer .content-wrapped .content-body {
        width: 25%;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
        color: #fff; }
        #wrapped .layer .content-wrapped .content-body h1 {
          font-size: 2em; }
      #wrapped .layer .content-wrapped img {
        position: absolute;
        width: 45%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
  #wrapped .bottom {
    background: #1b617a;
    z-index: 1; }
    #wrapped .bottom .content-body {
      right: 2%; }
      #wrapped .bottom .content-body h1 {
        background: #fdab00; }
  #wrapped .top {
    background: #eee;
    color: #222;
    z-index: 2;
    width: 50vw; }
    #wrapped .top .content-body {
      left: 2%;
      color: #222 !important; }
  #wrapped .handle {
    position: absolute;
    height: 100%;
    display: block;
    width: 4px;
    top: 0;
    left: 50%;
    z-index: 3; }

#side-menu {
  background: #111;
  width: 200px;
  display: none;
  position: absolute;
  left: -200px;
  top: 0px;
  bottom: 0px;
  z-index: 3;
  opacity: 0.9; }
  #side-menu a {
    position: relative;
    color: #ccc;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #111;
    display: block;
    padding: 10px 0;
    font-size: 22px;
    text-decoration: none; }

#side-menu.visible {
  left: 0px;
  transition: left 0.4s linear; }

#side-btn {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: -60px;
  cursor: pointer;
  margin: 20px;
  z-index: 3; }
  #side-btn span {
    display: block;
    height: 4px;
    background: #111;
    margin-bottom: 5px; }
    #side-btn span span:nth-child(2) {
      width: 75%; }
    #side-btn span span:nth-child(3) {
      width: 50%; }

#about-page {
  margin: 5rem 0 2.5rem; }
  #about-page img {
    width: 100%; }
  #about-page .about-info {
    text-align: center; }
    #about-page .about-info .big-title {
      padding-bottom: 1rem;
      font-size: 3rem;
      text-transform: uppercase; }
    #about-page .about-info .description {
      font-size: 1.5em; }

#about-me {
  padding: 8rem 0; }
  #about-me .content-area {
    background: blue; }

#contact {
  background: #fff;
  padding: 4em 0; }
  #contact .container-wrap {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em; }
  #contact .wrap {
    box-shadow: 0 0 15px 0 rgba(27, 97, 122, 0.7); }
  #contact .wrap > * {
    padding: 1em; }
  #contact .hiring {
    text-align: center;
    font-size: 3em; }
  #contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; }
    #contact form label {
      display: block; }
    #contact form p {
      margin: 0; }
    #contact form button {
      cursor: pointer;
      color: #fefefe;
      border: 0;
      background: #1b617a;
      text-transform: uppercase; }
      #contact form button:hover, #contact form button:focus {
        background: #fdab00;
        color: black;
        outline: 0;
        transition: background-color 0.3s ease-out; }
    #contact form .wide {
      grid-column: 1 / 3; }
    #contact form button,
    #contact form input,
    #contact form textarea {
      width: 100%;
      padding: 1em; }

#cta-btn {
  text-align: center;
  padding: 4em 0; }
  #cta-btn .btn p {
    margin: 0; }
  #cta-btn .btn button {
    cursor: pointer;
    color: #fefefe;
    border: 0;
    background: #1b617a;
    text-transform: uppercase; }
    #cta-btn .btn button:hover, #cta-btn .btn button:focus {
      background: #fdab00;
      color: black;
      outline: 0;
      transition: background-color 0.3s ease-out; }
  #cta-btn .btn button {
    width: 100%;
    padding: 1em; }

.footer {
  background: #eee;
  text-align: center; }
  .footer .media-bar ul li {
    display: inline-block;
    padding: 10px; }
    .footer .media-bar ul li a .ion {
      font-size: 2.6em; }
  .footer a {
    color: red;
    text-decoration: none; }

@media (max-width: 768px) {
  body {
    font-size: 75%; } }

@media (min-width: 700px) {
  .wrap {
    display: grid;
    grid-template-columns: 1fr 2fr; }
  .wrap > * {
    padding: 2.5em; } }

#AdminMenu {
  background: #302d43;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0; }
  #AdminMenu nav {
    padding-top: 130px; }
    #AdminMenu nav a {
      display: block;
      color: #f4f6f9;
      text-decoration: none;
      padding: 15px 30px;
      font-weight: 300;
      transition: all 0.3s ease-in-out; }
      #AdminMenu nav a:hover {
        background: #282639;
        border-left: 5px solid #92cf48;
        padding: 15px 30px 15px 25px; }
        #AdminMenu nav a:hover .fa {
          color: #92cf48; }
      #AdminMenu nav a .ion {
        color: #eaedf3;
        font-size: 1.3rem;
        margin-right: 0.9rem;
        display: inline-block;
        width: 30px;
        position: relative;
        top: 2px; }
      #AdminMenu nav a.active {
        background: #282639;
        border-left: 5px solid #92cf48;
        padding: 15px 30px 15px 25px; }
