body {
  color: $gray;
  font-family: $ffText;
  line-height: 1.6;
  background: $white;
  font-size: .875rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin-top: 0;

}

h1, h2, h3, p, span {
  &::selection{
    background: $medium-gray;
  }
}

h1 {
  color: $accent;
  line-height: 1;
  font-size: 3.125rem;
}

h2 {
  font-size: 2rem;
}

.welcome {
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray;

  h1 {
    font-size: 3.5rem;
    font-weight: $fwNormal;
    color: $darkBlue;
    line-height: 2;
    text-align: center;

    span {
      font-size: 6.5rem;
      color: $accent;
      letter-spacing: 6.5px;
      display: block;
      transition: all .5s ease-in;
      cursor: pointer;

      &:hover {
        transition: all .5s ease-in;
        color: $offsetOrange;
      }
    }

    &::before,
    &::after {
      content: '';
      width: 80%;
      height: 1px;
      background: $darkBlue;
      display: block;
    }

    &::before {
      margin: 0 auto 1em;
    }

    &::after {
      margin: 1em auto 0;
    }
  }
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  width: 100%;
  padding: 2em 0;
  // background: $offsetOrange;
  background: url("../img/ali_fight.jpg") no-repeat center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-text {
    max-width: 500px;
    position: absolute;
    top: 3%;
    left: 4%;
    text-align: center;
    background: rgba($darkBlue, 0.7);
    // padding: 2em;
    color: rgba($white, .8);
    font-size: 1.5em;
  }
}

.about-me {
  padding: 0 0 4em 0;
  position: relative;

  .about-title {
    position: absolute;
    top: 1em;
    right: 3.2em;
    margin-bottom: .25em;
    font-family: $ffHeading;
    color: $accent;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
  }

  .about-subtitle {
    font-size: 2rem;
    letter-spacing: 0.4em;
    margin: .4em 0;
    color: $offsetOrange;
  }

  .about-text {
    text-align: center;
    font-size: 1.1em;
  }
}

.quote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  width: 100%;
  padding: 2em 0;
  background: url("../img/mj.jpg") no-repeat center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;

  .quote-text {
    position: absolute;
    top: 3%;
    left: 4%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: rgba($darkBlue, 0.7);
    font-size: 1.5em;
  }
}

.portfolio {
  margin-bottom: 1em;
  padding: 5%;
  height: 100vh;
  h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 2.5em;
  }
  .projects {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
    height: 100%;

    .project-item {
      position: relative;
      background: $offsetOrange;
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &.medium {
        grid-row: 1 / span 3;
        grid-column: 1 / span 2;
      }

      &.half {
        grid-row: 1 / span 3;
        grid-column: 3 / span 2;
      }

      &.half-two {
        grid-row: 1 / span 2;
        grid-column: 5 / span 2;
      }

      &.tall {
        grid-row: 3 / span 4;
        grid-column: 5 / span 2;
      }

      &.wide {
        grid-row: 4 / span 3;
        grid-column: 1 / span 4;
      }

      .overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
        background: red;
        transition: all .5s ease-in;

        &:hover {
          transition: all .5s ease-in;
          opacity: 1;
        }


        .project-title {
          font-size: 1.55rem;
          position: absolute;
          top: 1rem;
        }

        .project-title,
        .project-desc {
          padding-bottom: 8px;
        }

        .project-desc {
          text-align: center;
          padding: 0.4rem;
        }

        .project-tech {
          margin-left: 5px;
          position: absolute;
          bottom: 0;
          font-size: 1.2rem;
          text-decoration: none;
          color: $accent;
        }
      }
    }
  }
}


@media (max-width: 1300px) {
  .about-me {
    display: block;
    padding: 1em;
    text-align: center;

    .about-title {
      position: static;
      font-size: 2.9rem;
    }

    .about-subtitle {
      margin: 0 0 5px 0;
      letter-spacing: 0.2em;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 780px) {
  #cta-btn, footer {
    position: relative;
  }
  .welcome {
    h1 {
      font-size: 2rem;

      span {
        font-size: 4.5rem;
      }
    }
  }

  .intro,.quote {
    padding: .25rem;
    width: 100%;
    .intro-text, .quote-text {
      max-width: 600px;
      margin: 0 auto;
      position: static;
      text-align: center;
    }
  }

  .about-me {
    display: block;
    padding: 1em;
    text-align: center;

    .about-title {
      position: initial;
      font-size: 2rem;
    }

    .about-subtitle {
      margin: 0 0 5px 0;
      letter-spacing: 0.2em;
      font-size: 1.6rem;
    }
  }
  .portfolio {
    height: 100%;
    margin: 0 0 15px 0;
    padding: 15px 0;
    background: none;

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    .projects {
      display: block;

      .project-item {
        width: 100%;
        height: 200px;
        margin-bottom: 12px;

        .overlay {
          padding: .5em;
          opacity: 1;
          .project-title,
          .project-desc,
          .project-tech {
            position: static;
            margin: 0 auto;
          }

          .project-desc {
            max-width: 500px;
          }
        }
      }
    }
  }
}
