body {
  color: $gray;
  font-family: $ffText;
  line-height: 1.6;
  background: $white;
  font-size: .875rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin-top: 0;

}

h1, h2, h3, p, span {
  &::selection{
    background: $medium-gray;
  }
}

h1 {
  color: $accent;
  line-height: 1;
  font-size: 3.125rem;
}

h2 {
  font-size: 2rem;
}

.welcome {
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray;

  h1 {
    font-size: 3.5rem;
    font-weight: $fwNormal;
    color: $darkBlue;
    line-height: 2;
    text-align: center;

    span {
      font-size: 6.5rem;
      color: $accent;
      letter-spacing: 6.5px;
      display: block;
      transition: all .5s ease-in;
      cursor: pointer;

      &:hover {
        transition: all .5s ease-in;
        color: $offsetOrange;
      }
    }

    &::before,
    &::after {
      content: '';
      width: 80%;
      height: 1px;
      background: $darkBlue;
      display: block;
    }

    &::before {
      margin: 0 auto 1em;
    }

    &::after {
      margin: 1em auto 0;
    }
  }
}

.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  width: 100%;
  padding: 2em 0;
  // background: $offsetOrange;
  background: url("../img/ali_fight.jpg") no-repeat center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .intro-text {
    max-width: 500px;
    position: absolute;
    top: 3%;
    left: 4%;
    text-align: center;
    background: rgba($darkBlue, 0.7);
    // padding: 2em;
    color: rgba($white, .8);
    font-size: 1.5em;
  }
}

.about-me {
  padding: 0 0 4em 0;
  position: relative;

  .about-title {
    position: absolute;
    top: 1em;
    right: 3em;
    font-family: $ffHeading;
    color: $accent;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
  }

  .about-subtitle {
    font-size: 2rem;
    letter-spacing: 0.4em;
    margin: .4em 0;
    color: $offsetOrange;
  }

  .about-text {
    text-align: center;
    font-size: 1.2em;
  }
}

.quote {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  width: 100%;
  padding: 2em 0;
  background: url("../img/mj.jpg") no-repeat center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;

  .quote-text {
    position: absolute;
    top: 3%;
    left: 4%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: rgba($darkBlue, 0.7);
    font-size: 1.5em;
  }
}

.portfolio {
  margin-bottom: 1em;
  padding: 3%;
  height: 100vh;
  h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3em;
    font-size: 2.5em;
  }
  .projects {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
    height: 100%;

    .project-item {
      position: relative;
      color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      &.medium {
        grid-row: 1 / span 3;
        grid-column: 1 / span 2;
      }

      &.half {
        grid-row: 1 / span 3;
        grid-column: 3 / span 2;
      }

      &.half-two {
        grid-row: 1 / span 2;
        grid-column: 5 / span 2;
      }

      &.tall {
        grid-row: 3 / span 4;
        grid-column: 5 / span 2;
      }

      &.wide {
        grid-row: 4 / span 3;
        grid-column: 1 / span 4;
      }

      .overlay {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
        background: rgba($black, .7);
        color: $white;
        transition: all .5s ease-in;

        &:hover {
          transition: all .5s ease-in;
          opacity: 1;
        }


        .project-title {
          font-size: 1.7rem;
          position: relative;
          top: 1rem;
          margin-bottom: 0.5em;
        }

        .project-title,
        .project-desc {
          padding-bottom: 8px;
        }

        .project-desc {
          font-size: 1.2em;
          text-align: center;
          padding: 0.4rem;
        }

        .url-links {
          padding: 0 .5em;
          margin: 2.2em 0;
          position: relative;
          bottom: 0;

          a {
            color: $accent;
            font-size: 1.8em;
            text-decoration: none;
          }

          .project-github {
            position: absolute;
            right: 0;
            margin-right: 1.5em;
          }
        }
      }
    }
  }
}

#cta-btn {
  text-align: center;
  padding: 1.5em 0;
  .text {
    font-size: 1.2em;
    padding: 1em 0;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
  }

  .btn {
    p {
      margin: .8em 0;
      font-size: 1.2em;
    }

    button {
      cursor: pointer;
      color: $white;
      border: 0;
      background: $accent;
      text-transform: uppercase;
      font-size: 1.2em;
      width: 100%;
      padding: 1em;

      &:hover,
      &:focus {
        background: $offsetOrange;
        color: black;
        outline: 0;
        transition: background-color 0.3s ease-out;
      }
    }
  }
}
