$white: #ffffff;
$lightGray: #e8e9eb;
$gray: #a7a7a7;
$darkGray: #606060;
$accent: #A0CCE3;
$darkBlue: #1B2355;
$offsetOrange: #F66464;

$black: #353535;
$secondaryGray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

$ffHeading: 'Alegreya Sans SC', sans-serif;
$ffText: 'Overpass', sans-serif;

$fwNormal: 400;
$fwBold: 900;

// Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
