@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400|Overpass:300,400');

@import "variables";
@import "grid";
@import "reset";

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

@import "content-area";

#nav {
  min-height: 60px;
  background: $gray;
  color: $accent;
  overflow: auto;
  padding: 15px;

  .logo {
    display: inline-block;
    float: left;
    h2 {
      font-family: $ffHeading;
      font-size: 2.2em;
      text-transform: uppercase;
    }
  }

  .navbar-items {
    display: inline-block;
    float: right;
    li {
      display: inline-block;
      padding: 0 10px;
      margin-top: 7px;

      &:first-child {
        padding-left: 0;
      }
      a {
        color: $offsetOrange;
        float: left;
        font-size: 1.5em;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          transition: all .4s ease-in;
          color: $accent;
        }
      }
    }
  }
}

#cta-btn {
  text-align: center;
  padding: 1.5em 0;
  .text {
    padding: .8em 0;
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
  }

  .btn {
    p {
      margin: .8em 0;
      font-size: 1.2em;
    }

    button {
      cursor: pointer;
      color: $white;
      border: 0;
      background: $accent;
      text-transform: uppercase;
      font-size: 1.2em;
      width: 100%;
      padding: 1em;

      &:hover,
      &:focus {
        background: $offsetOrange;
        color: black;
        outline: 0;
        transition: background-color 0.3s ease-out;
      }
    }
  }
}

.footer {
  padding: .9em 0;
  text-align: center;
  .media-bar {
    ul {

      li {
        display: inline-block;
        padding: 10px;

        a {
          .ion {
            font-size: 2.6em;
          }
        }
      }
    }
  }
  .name-link {
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
    color: $accent;

    &:hover {
      transition: all .3s ease-in;
      color: $offsetOrange;
    }
  }
}

#drop-menu {
  background: $white;
  height: 190px;
  width: 100%;
  display: none;
  position: absolute;
  top: -190px;
  z-index: 3;
  opacity: 0.9;

  a {
    position: relative;
    color: $accent;
    text-align: center;
    // border-bottom: 1px solid #111;
    display: block;
    padding: 7px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;

    &.active,
    &:hover {
      color: $offsetOrange;
    }

    &:first-of-type {
      margin-top: 15px;
    }
  }

}

#drop-menu.visible {
  top: 0px;
  transition: all 0.5s linear;
}

#menu-btn {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 190px;
  right: 0px;
  cursor: pointer;
  margin: 29px 20px 20px;
  z-index: 3;
  transition: all .5s linear;

  span {
    display: block;
    height: 2px;
    background: #111;
    margin-bottom: 4px;

    &:first-of-type {
      height: 3px;
    }

    &:nth-child(2) {
      width: 75%
    }

    &:nth-child(3) {
      width: 50%
    }
  }
}

#contact {
  background: #fff;
  padding: 4em 0;

  .container-wrap {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .wrap {
    box-shadow: 0 0 15px 0 rgba(27, 97, 122, 0.7)
  }

  .wrap > * {
    padding: 1em;
  }
  .hiring {
    text-align: center;
    font-size: 3em;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    label {
      display: block;
    }

    p {
      margin: 0;
    }

    button {
      cursor: pointer;
      color: $white;
      border: 0;
      background: $accent;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background: $offsetOrange;
        color: $black;
        outline: 0;
        transition: background-color 0.3s ease-out;
      }
    }

    .wide {
      grid-column: 1 / 3;
    }

    input {
      font-size: 1.1em;
    }

    button,
    input,
    textarea {
      width: 100%;
      padding: 1em;
    }
  }
}

@media (max-width: 680px) {
  #nav {
    .navbar-items {
      display: none;
    }
  }

  #drop-menu {
    display: block;
  }


}
//
// #wrapped {
//   position: relative;
//   width: 100%;
//   min-height: 55vw;
//   overflow: hidden;
//
//   .layer {
//     position: absolute;
//     width: 100vw;
//     min-height: 55vw;
//     overflow: hidden;
//
//
//     .content-wrapped {
//       position: absolute;
//       width: 100vw;
//       min-height: 55vw;
//
//       .content-body {
//         width: 25%;
//         position: absolute;
//         top: 50%;
//         text-align: center;
//         transform: translateY(-50%);
//         color: #fff;
//
//         h1 {
//           font-size: 2em;
//         }
//       }
//
//       img {
//         position: absolute;
//         width: 45%;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }
//
//   .bottom {
//     background: rgba(27, 97, 122, 1);
//     z-index: 1;
//
//     .content-body {
//       right: 2%;
//
//       h1 {
//         background: #fdab00;
//       }
//     }
//   }
//
//   .top {
//     background: #eee;
//     color: #222;
//     z-index: 2;
//     width: 50vw;
//
//     .content-body {
//       left: 2%;
//       color: #222 !important;
//     }
//   }
//
//   .handle {
//     position: absolute;
//     height: 100%;
//     display: block;
//     // background-color: #ccc;
//     width: 4px;
//     top: 0;
//     left: 50%;
//     z-index: 3;
//   }
// }
//
//
// #about-page {
//   margin: 5rem 0 2.5rem;
//   img {
//     width: 100%;
//   }
//   .about-info {
//     text-align: center;
//
//     .big-title {
//       padding-bottom: 1rem;
//       font-size: 3rem;
//       text-transform: uppercase;
//     }
//
//     .description {
//       font-size: 1.5em;
//     }
//   }
// }
//
// #about-me {
//   padding: 8rem 0;
//   .content-area {
//     background: blue;
//   }
// }
//
//
//
// @media (max-width: 768px) {
//   body {
//     font-size: 75%;
//   }
// }
//
// @media(min-width: 700px) {
//   .wrap {
//     display: grid;
//     grid-template-columns: 1fr 2fr;
//   }
//
//   .wrap > * {
//     padding: 2.5em;
//   }
// }
